.badge-info{
    background-color: rgb(0, 162, 255);
    color: white;
    border-radius: 6px;
}

.badge-danger{
    background-color: red;
    color: white;
    border-radius: 6px;
}

.badge-warning{
    background-color: rgb(255, 230, 0);
    color: white;
    border-radius: 6px;
}

.erdian {
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
}